.chart-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* Content wrapper to align sidebar and main content */
.content-wrapper {
    display: flex;
}

/* Header styling */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 82%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 270px;
    border-radius: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hr-logo {
    width: 70px;
    height: 70px;
    background-image: url('/images/hr-app-logo-no-wording.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading, .welcome-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Sidebar styling */
.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #ddd;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

    .sidebar-menu li {
        margin: 10px 0;
    }

        .sidebar-menu li a {
            text-decoration: none;
            padding: 10px;
            display: block;
            background: #eaeaea;
            border-radius: 5px;
            color: #333;
        }

            .sidebar-menu li a:hover {
                background: #007bff;
                color: white;
            }

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.container {
    flex-grow: 1;
    margin-left: 270px; /* Matches sidebar width + some spacing */
    padding: 20px;
    background: white;
}