html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Add spacing to the bottom of the layout above the footer */
.main-content {
    padding-bottom: 50px; /* Adjust as needed for more or less space */
}

/* Add spacing to the footer */
footer {
    margin-top: 30px; /* Space between content and footer */
    padding-top: 15px;
    padding-bottom: 0.1px;
    text-align: center;
    font-size: 14px;
    color: #666;
}
